# macOS
.DS_Store

# Flutter/Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE
**/.idea/
**/*.iml
**/.vscode/

# Env files (commit contoh saja)
**/.env*
!**/*_example
